# /.env.example - Plantilla de variables de entorno

# Credenciales de la Base de Datos (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=escribe_aqui_tu_password_local
DB_HOST=db
DB_NAME=robot_dashboard_db
DB_PORT=5432

# Configuración del Backend (Node/Express)
PORT=3001
JWT_SECRET=escribe_aqui_una_clave_secreta_inventada_para_desarrollo

# Configuración del Frontend (Vite)
VITE_API_URL=http://localhost:3001/api
VITE_SOCKET_URL="http://localhost:3001"

# Redis
REDIS_URL="redis://localhost:6379"

# Correos (Nodemailer)
EMAIL_USER="tu_correo@gmail.com"
EMAIL_PASS="tu_contraseña_de_aplicacion"
ADMIN_EMAIL="admin@empresainventada.com"