# Exclusiones del contexto de construcción de la imagen Docker para optimizar el peso y prevenir fugas de credenciales
.git
.gitignore
.github
.vscode
node_modules
npm-debug.log*
.env
.env.*
Dockerfile
database/
*.md