/* src/features/dashboard/components/MapView.css */

.map-view-container {
  /* El mapa ahora llena el 100% de su nuevo contenedor (.map-widget-wrapper) */
  width: 100%;
  height: 100%;

  /* Mantenemos una altura mínima por si el contenedor se encoge demasiado */
  min-height: 400px;
}
