/* src/features/dashboard/components/MapView.css */

/* El MapContainer de Leaflet usará esta clase */
.map-view-container {
  /* Ocupa todo el espacio disponible en el layout */
  flex-grow: 1;

  /* Asegura que tenga una altura (crucial para Leaflet) */
  min-height: 400px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
