:root {
  --primary-dark: #166534;
  --primary-darkest: #14532d;
  --background-color: #2fad55;
  --accent-green: #15803d;
  --accent-green-hover: #166534;
  --accent-green-dark: #14532d;
  --text-light-accent: #dcfce7;
  --border-light: #86efac;
  --background-widget: #f0fdf4;
  --background-app: #a7f3d0;

  --text-main: #14532d;
  --text-inverse: #ffffff;
  --card-bg: #ffffff;
  --icon-color: #14532d;

  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body.dark-mode {
  --background-color: #0f172a;
  --background-app: #1e293b;
  --background-widget: #334155;
  --card-bg: #1e293b;

  --primary-dark: #4ade80;
  --primary-darkest: #f1f5f9;
  --text-main: #e2e8f0;
  --text-light-accent: #94a3b8;

  --accent-green: #15803d;
  --accent-green-hover: #166534;
  --border-light: #475569;
  --icon-color: #f1f5f9;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode strong,
body.dark-mode label,
body.dark-mode .user-name {
  color: var(--text-main);
}

body.dark-mode .user-item,
body.dark-mode .profile-info-card {
  background-color: var(--card-bg);
  border-color: var(--border-light);
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 1.2em !important;
  background-color: var(--card-bg) !important;
  color: var(--text-main) !important;
}

.leaflet-control-zoom {
  border: none !important;
  background-color: transparent !important;
}
