/* src/index.css */

/*
  Este archivo contiene estilos y variables globales para toda la aplicación.
  Ayuda a mantener un diseño coherente.
*/

:root {
  /* Paleta de Colores */
  --primary-color: #10b981; /* Verde esmeralda */
  --primary-color-dark: #059669;
  --background-color: #f0fdf4; /* Un verde muy claro para el fondo */
  --surface-color: #ffffff; /* Blanco para tarjetas, modales, etc. */
  --text-color: #1f2937;

  /* Tipografía */
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
